# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

node_modules/

# Ignore sublime project files
*.test
*.sublime-project
*.sublime-workspace

# Ignore everything in location-only folders, but include .sqm
!Source/GW_Stratis.Stratis/mission.sqm
Source/GW_Altis.Altis/*
!Source/GW_Altis.Altis/mission.sqm
Source/GW_Stratis.Stratis/*
!Source/GW_Stratis.Stratis/mission.sqm
Source/GW_Tanoa.Tanoa/*
!Source/GW_Tanoa.Tanoa/mission.sqm

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
